@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&family=Poppins&display=swap");
@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.conteiner{
  @apply flex flex-col justify-center items-center -mt-32;
}

.lista{
  @apply flex flex-col items-center ;
  &__titulo{
    font-family: 'Poppins', cursive;
    @apply text-xl font-bold text-rubi my-10 p-4;
  }
  &__corpo{
   @apply max-w-[500px] flex flex-col items-center
  }
  &__confirmados{
    @apply text-lg font-bold text-rubi my-4 p-2 self-end;
  }
  &__botoes{
    @apply self-start;
    &__botoes{
      @apply m-2;
    }
  }
}

.tabela{
  @apply border-collapse text-center;
  &__head{
    @apply border-2 border-black bg-slate-600;
  }
  &__body{
    @apply border-2 border-black;
    &__pessoas{
      word-wrap: break-word; max-width: 130px;
    }
  }
  .confirmado{
    @apply fill-green-600;
  }
}

.tabela__linhas{
  @apply border-2 border-black bg-gray-400;
  &__pessoas{
    word-wrap: break-word; max-width: 130px;
  }
}

.tabela__linhas:nth-child(even) {
  background:lightgray;
}

.movimentoImagem{
  background-image: url(../../assets/images/moveta2.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: hero-animation 2s steps(5) infinite;
  @apply h-[5.5rem] w-20 my-8;
}


@keyframes hero-animation {
  from {
      background-position-y: 0;
  }

  to {
      background-position-y: -451px;
  }
}